@page "{id:int}"
@model MegaDeskWebApp.Pages.Quotes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete Quote</h2>

<h3 class="text-danger">Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

        <div class="row">
            <dt class="quote-subheading">
                Customer
            </dt>
        </div>

        <div class="row">
            <dt class="col-lg-3">
                @Html.DisplayNameFor(model => model.Quote.CustomerName)
            </dt>
            <dd class="col-lg-2">
                @Html.DisplayFor(model => model.Quote.CustomerName)
            </dd>
        </div>

        <div class="row">
            <dt class="col-lg-3">
                @Html.DisplayNameFor(model => model.Quote.QuoteDate)
            </dt>
            <dd class="col-lg-2">
                @Html.DisplayFor(model => model.Quote.QuoteDate)
            </dd>
        </div>

        <div class="row">
            <dt class="quote-subheading">
                Desktop Material
            </dt>
        </div>

        <div class="row">
            <dt class="col-lg-3">
                @Html.DisplayNameFor(model => model.Quote.Width)
            </dt>
            <dd class="col-lg-2 text-right">
                @Html.DisplayFor(model => model.Quote.Width)
            </dd>
        </div>

        <div class="row">
            <dt class="col-lg-3">
                @Html.DisplayNameFor(model => model.Quote.Depth)
            </dt>
            <dd class="col-lg-2 text-right">
                @Html.DisplayFor(model => model.Quote.Depth)
            </dd>
        </div>

        <div class="row">
            <dt class="col-lg-3">
                @Html.DisplayNameFor(model => model.Quote.Area)
            </dt>
            <dd class="col-lg-2 text-right">
                @Html.DisplayFor(model => model.Quote.Area) sq. in.
            </dd>
        </div>

        <div class="row">
            <dt class="col-lg-3">
                @Html.DisplayNameFor(model => model.Quote.DeskMaterial)
            </dt>
            <dd class="col-lg-2 text-right">
                @Html.DisplayFor(model => model.Quote.DeskMaterial)
            </dd>
        </div>

        <div class="row">
            <dt class="col-lg-3">
                @Html.DisplayNameFor(model => model.Quote.OversizeCost)
            </dt>
            <dd class="col-lg-2 text-right">
                $ @Html.DisplayFor(model => model.Quote.OversizeCost)
            </dd>
        </div>

        <div class="row">
            <dt class="col-lg-3">
                @Html.DisplayNameFor(model => model.Quote.MaterialCost)
            </dt>
            <dd class="col-lg-2 text-right">
                $ @Html.DisplayFor(model => model.Quote.MaterialCost)
            </dd>
        </div>


        <div class="row">
            <dt class="quote-subheading">
                Drawers
            </dt>
        </div>

        <div class="row">
            <dt class="col-lg-3">
                @Html.DisplayNameFor(model => model.Quote.DrawerCount)
            </dt>
            <dd class="col-lg-2 text-right">
                @Html.DisplayFor(model => model.Quote.DrawerCount)
            </dd>
        </div>

        <div class="row">
            <dt class="col-lg-3">
                @Html.DisplayNameFor(model => model.Quote.DrawerCost)
            </dt>
            <dd class="col-lg-2 text-right">
                $ @Html.DisplayFor(model => model.Quote.DrawerCost)
            </dd>
        </div>

        <div class="row">
            <dt class="quote-subheading">
                Shipping
            </dt>
        </div>

        <div class="row">
            <dt class="col-lg-3">
                @Html.DisplayNameFor(model => model.Quote.ShippingOption)
            </dt>
            <dd class="col-lg-2 text-right">
                @Html.DisplayFor(model => model.Quote.ShippingOption)
            </dd>
        </div>

        <div class="row">
            <dt class="col-lg-3">
                @Html.DisplayNameFor(model => model.Quote.ShippingCost)
            </dt>
            <dd class="col-lg-2 text-right">
                $ @Html.DisplayFor(model => model.Quote.ShippingCost)
            </dd>
        </div>

        <div class="row">
            <dt>
                @Html.DisplayNameFor(model => model.Quote.TotalCost)
            </dt>
            <dd class="col-lg-2 text-right">
                $ @Html.DisplayFor(model => model.Quote.TotalCost)
            </dd>
        </div>
    </dl>
</div>
    </dl>

<form method="post">
    <input type="hidden" asp-for="Quote.ID" />
    <input type="submit" value="Delete" class="btn btn-danger mr-2" />
    <a asp-page="./Index" class="btn btn-primary">Back to List</a>
</form>
</div>
