@model IEnumerable<SacramentMeetingPlanner.Models.Meeting>

@{
    ViewData["Title"] = "Index";
}

<h1 class="heading-font">Whitney Ranch Ward</h1>

<p>
    <a class="create-font" asp-action="Create">Build meeting</a>
</p>
<table class="table table-shadow">
    <thead class="header-color">
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Meeting Date</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conductor)
            </th>
            <th>
                Number of Speakers
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conductor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpeakingAssignments.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Make changes</a> |
                <a asp-action="Details" asp-route-id="@item.ID">View/Print</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Remove</a>
            </td>
        </tr>
}
    </tbody>
</table>
