@model IEnumerable<SacramentMeetingPlanner.Models.SpeakingAssignment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by topic: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-success" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speaker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting)
            </th>
@*            <th></th>
*@        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speaker.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meeting.MeetingDate)
            </td>
@*            <td>
                <a asp-action="Edit" asp-route-id="@item.SpeakingAssignmentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SpeakingAssignmentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SpeakingAssignmentID">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
